.empty {
  height: 50vh;
  font-size: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  text-align: center;
  margin: 15px;
  padding-top: 15vh;
  color: #7A7A78;
  font-family: 'Forums', cursive;
}