.statistic {
  font-family: 'Forums', cursive;
  h2 {
    text-align: center;
  }
  .pie {
    text-align: center;
    font-weight: bold;
  }
  .firstTable {
    thead {
      background: rgba(237, 208, 164, 0.2);
    }
  }
  .secondTable {
    thead {
      background: rgba(250, 199, 198, 0.2);
    }
  }
}