.text {
  text-align: center;
  padding: 10px 0 !important;
  font-family: 'Forums', cursive;
  position: relative;
  button {
    background: #a3742e;
    border: none;
    &:not(:disabled):not(.disabled) {
      background: #a3742e;
      box-shadow: none;
      &:hover {
        background: #7A7A78;
      }
      &:active,
      &.active {
        &:focus {
          background: red;
          box-shadow: 0 0 0 0.2rem rgba(253, 0, 0, 0.5);
        }
      }
    }
  }
}
.error {
  font-size: 10px;
  color: brown;
}
.position {
  @media only screen and (min-width: 768px) {
    position: relative;
    top: 24px;
  }
}